.status-red {
    -fx-background-color:rgba(128,0,0,0.7);
}
.status-green {
    -fx-background-color:rgba(0,255,0,0.7);
}
.status-deepskyblue {
    -fx-background-color:rgba(0,191,255,0.7);
}
.status-yellow {
    -fx-background-color:rgba(255,255,0,0.7);
}
.status-aqua {
    -fx-background-color:rgba(0,255,255,0.7);
}
.status-orange {
    -fx-background-color:rgba(255,165,0,0.7);
}
.status-deeppink {
    -fx-background-color:rgba(255,20,147,0.7);
}
.status-teal {
    -fx-background-color:rgba(128,128,0,0.7);
}
.status-purple {
    -fx-background-color:rgba(128,0,128,0.7);
}
.status-tomato {
    -fx-background-color:rgba(255,99,71,0.7);
}
.status-violet {
    -fx-background-color:rgba(238,130,238,0.7);
}
.status-gray {
    -fx-background-color:rgba(128,128,128,0.7);
}
.status-lavender {
    -fx-background-color:rgba(230,230,250,0.7);
}